[Desktop Entry]
Type=Application
Exec=/home/thackl/PhD/projects/it-and-coding/code/mon-scripts/bin/mon-conky /home/thackl/PhD/projects/it-and-coding/code/mon-scripts/conky/conkyrc_thackl
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
Name[en_US]=mon-conky
Name=mon-conky
Comment[en_US]=run mon-conky
Comment=run mon-conky
